# requirements.txt
langchain
langchain-community
langchain-core
langchain-qdrant
langchain-openai
langchain
openai
python-dotenv
flask
flask-cors
flask_socketio
websockets
eventlet
asyncio
gunicorn
tiktoken
resend

